EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_API_BASE_URL=http://security-alerts.pertaarungas.com/api
EXPO_PUBLIC_API_BASE_URL_ANDROID_EMULATOR=http://security-alerts.pertaarungas.com/api
EXPO_PUBLIC_API_BASE_URL_ANDROID_DEVICE=http://security-alerts.pertaarungas.com/api
EXPO_PUBLIC_API_FALLBACK_URL=

# Google Maps SDK for Android.
# Isi dengan API key Google Maps Platform kamu sebelum rebuild APK.
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
