NODE_ENV=production
PORT=3000
LOCAL_BACKEND_HOST=192.168.10.41
API_BASE_URL=http://192.168.10.41:3000
CORS_ALLOWED_ORIGINS=http://192.168.10.41:3000,http://localhost:8081,http://127.0.0.1:8081

DB_HOST=localhost
DB_INSTANCE_NAME=MSSQLSERVER2019
DB_PORT=
DB_NAME=SecurityAlertLocal
DB_USER=alertsecurity
DB_PASSWORD=change-this-db-password
DB_DIALECT=mssql
DB_SYNC_ON_START=true

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

DEFAULT_ADMIN_EMAIL=admin@emergency.local
DEFAULT_ADMIN_PIN=123456

UPLOAD_DIR=uploads
PUBLIC_ASSET_BASE_URL=http://192.168.10.41:3000/uploads
PUSH_PROVIDER=expo
