NODE_ENV=production
PORT=3000
API_BASE_URL=http://security-alerts.pertaarungas.com

DB_HOST=10.251.150.36
DB_PORT=1433
DB_NAME=ManagementEmergency
DB_USER=alertsecurity
DB_PASSWORD=change-this-db-password
DB_DIALECT=mssql
DB_SYNC_ON_START=true

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

DEFAULT_ADMIN_EMAIL=admin@emergency.local
DEFAULT_ADMIN_PIN=123456

UPLOAD_DIR=uploads
PUBLIC_ASSET_BASE_URL=http://security-alerts.pertaarungas.com/uploads
PUSH_PROVIDER=expo
